
/* Buttons index.html */
#page-landing #login #button-logar a{
    color: white;
    text-decoration: none;

    border: none;
}

#page-landing #login #button-logar{
    font-size: 1.6rem;
    font-weight: 400;

    letter-spacing: .1em;
  
    border: none;
    border-radius: 2px;

    max-width: 90rem;
    width: 70%;
    margin: auto;
    height: 3.2rem;
   
    background: #504EED;

    
    margin-top: 1rem;

    transition: background 200ms;
}

#page-landing #login #button-logar:hover{
    cursor: pointer;

     background: #3533a5;
}

/* Buttons students.html */
/* #header-main header ul{
    display: flex;
}

#header-main header ul li{
    list-style: none;
    padding-top: 1.8rem;
}

#header-main header ul li.acoes a{
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 4px;

    transition: background 200ms;
}

#header-main header ul li.adicionar a{
    margin-right: 2.2rem;

    background: #504EED;

}

#header-main header ul li.adicionar a:hover{
    background: #4341C7;
}
#header-main header ul li.editar a{
    margin-right: 2.2rem;
    
    background: #ED9A4E;
}

#header-main header ul li.editar a:hover{
    background: #C78241;
}

#header-main header ul li.excluir a{
    background: #ED4E4E;
}

#header-main header ul li.excluir a:hover{
    background: #C74141;
} */

#header-main header .buttons-acoes{
    display: flex;
}

#header-main header button.acoes{
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
  
    border-radius: 4px;

    height: 4.2rem;
    padding: 0 3rem;

    background: #504EED;
    transition: background 200ms;
}

#header-main header button.adicionar{
    border: none;

    margin-right: 2.2rem;
    background: #504EED;
}

#header-main header button.adicionar:hover{
    background: #4341C7;
    cursor: pointer;
}

#header-main header button.editar{
    border: none;
    margin-right: 2.2rem;
    background: #ED9A4E;
}

#header-main header button.editar:hover{
    background: #C78241;
    cursor: pointer;
}

#header-main header button.excluir{
    border: none;
    background: #ED4E4E;
}

#header-main header button.excluir:hover{
    background: #C74141;
    cursor: pointer;
}