*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

:root{
    font-size: 62.5%;
}

html,
body{
    height: 100vh;
    
    background-image: linear-gradient(to right top, #3c97f5, #4780c9, #486a9f, #445577, #3b4151);
}
