#header-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    padding: 3rem 10rem  0 10rem;
}

#header-main h1{
    font-size: 2.2rem;
    font-weight: 900;
    width: 22rem;
    color: #3B4151;
    
}

#header-main p{
    font-size: 1.4rem;
    color: #3B4151;
}

#header-main a{
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;

    color: #8E8AE8;
}

#header-main a:hover{
   text-decoration: underline;
}

#page-landing{    
    max-width: 480px;
    width: 100%;
    margin: auto;

    position: relative;
    top: 30%;
    transform: translateY(-50%);  
}

#page-landing #login{
    display: flex;
    flex-direction: column;
}


#page-landing #login h1{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 6rem;

    color: #3B4151;
}


#page-landing #login #button-cadastro:hover{
    background: #252A36;
    cursor: pointer;
}

#page-landing form{
    max-width: 90rem;
    width: 70%;
    margin: auto;
}

#page-landing form .forms{
    border: 1px solid#dedde2;
    box-sizing: border-box;
    border-radius: 2px;

    max-width: 90rem;
    width: 100%;
    height: 3.2rem;

    padding-left: 1rem;
    margin-bottom: 1.2rem;
}

#page-landing #login form .forms::placeholder{
    font-size: 1.2rem;
    color: rgba(59, 65, 81, 0.4);
}

#page-landing #login #button-logar{
    font-size: 1.6rem;
    font-weight: 400;

    letter-spacing: .1em;
  
    color: white;

    border: none;
    border-radius: 2px;

    max-width: 90rem;
    width: 70%;
    margin: auto;
    height: 3.2rem;
   
    background: #504EED;

    
    margin-top: 1rem;

    transition: background 200ms;
}

#page-landing #login #button-logar:hover{
    cursor: pointer;

     background: #3533a5;
}

#page-landing #login p{
    
    margin-top: 1.4rem; 
    text-align: center;
    
}

#page-landing #login p a{
    font-size: 1rem;
    color: #7371E3;
    letter-spacing: .1rem;
    text-decoration: none;
}

#page-landing #login p a:hover{
    color: #9796df;
}

@media (max-width: 768px){

}