
#page-landing{    
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;

    padding: 16rem 4rem 8rem 4rem;

    max-width: 680px;
    width: 80%;
    margin: auto;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


#page-landing #login{
    display: flex;
    flex-direction: column;
}

#page-landing #login #button-cadastro{
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 16px;

    max-width: 20rem;
    width: 30vw;
    height: 3rem;
    
    margin: auto;
    background: #3B4151;

    margin-bottom: 10rem;

    transition: background 200ms;
    
} 

#page-landing #login #button-cadastro:hover{
    background: #252A36;
    cursor: pointer;
}


#page-landing form{
    max-width: 90rem;
    width: 60%;
    margin: auto;
}

#page-landing form .forms{
    border: 1px solid #DCE2F2;
    box-sizing: border-box;
    border-radius: 4px;

    max-width: 90rem;
    width: 100%;
    height: 2.2rem;

    padding-left: 1rem;
    margin-bottom: 1.2rem;
}

#page-landing #login form .forms::placeholder{
    font-size: 1.2rem;
    color: rgba(59, 65, 81, 0.4);
}

#page-landing #login #button-logar{
    font-size: 1.6rem;
    font-weight: 900;

    letter-spacing: .1em;
    text-transform: uppercase;
    color: white;

    border: none;
    border-radius: 32px;

    max-width: 14rem;
    width: 30%;
    margin: auto;
    padding: 1rem 0 1rem 0;

    background:skyblue;

    
    margin-top: 4rem;

    transition: background 200ms;
}

#page-landing #login #button-logar:hover{
    background: #077AF0;
    cursor: pointer;
}

#page-landing #login p{
    max-width: 11rem;
    width: 20%;
    margin: auto;

    margin-top: 1.4rem;
}

#page-landing #login p a{
    font-size: 1.1rem;
    color: rgba(59, 65, 81, 0.6);

    text-decoration: none;
}

#page-landing #login p a:hover{
    color: #9BC3ED;
}

@media (max-width: 768px){
    
}