#header-main{
    max-width: 980px;
    width: 90%;

    margin: auto;
}

#header-main header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    border-bottom: 1px solid #F0F0F0;
    padding: 3rem 4rem 4rem 4rem;
}

#header-main header h1{
    font-size: 2.2rem;
    width: 22rem;

    color: #3B4151;
}

main{
    margin-top: 4rem;
}

table {
    border-collapse: collapse;
    max-width: 980px;
    width: 90%;
    margin:auto;
}

th{ 
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: .2rem;
    color: #ADB3C4;
    padding: 1.6rem;
    text-align: left;
    text-transform: uppercase;
}


td{
    font-size: 1.4rem;
    color: #3B4151;

    padding: 1.6rem;
}

td.name-form a{
    font-weight: 600;
    text-decoration: none;

    color:#3B4151;
}

td.name-form a:hover{
    text-decoration: underline;
}

@media (max-width: 660px){
    #header-main h1{
        text-align: center;
        margin: auto;

        margin-bottom: 4rem;
    }
    #header-main ul{
        margin: auto; 
    }
}

