#header-main{
    max-width: 980px;
    width: 90%;

    margin: auto;
}

#header-main header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    padding: 3rem 4rem 0 4rem;
}



main{
    margin-top: 8rem;
}

table {
    border-collapse: collapse;
    max-width: 980px;
    width: 90%;
    margin:auto;
}

th{ 
    font-size: 1.2rem;
    font-weight: 900;
    color: #3B4151;
    padding: 1.2rem;
    text-align: left;
    text-transform: uppercase;
}

td{
    font-size: 1.2rem;
    font-weight: 400;

    padding: 1.2rem;
}

tr:nth-child(even) {
    background-color: #EDEDED;
}


